.item {
  box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
}

  .item header {
    background: #fff;
    margin: 0;
    padding: 1em 0 1em 0;
    font-size: 0.8em;
  }

    .item header h3 {
      font-size: 1em;
    }

@media screen and (min-width: 739px) and (max-width: 1320px) {

  .item {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 481px) and (max-width: 738px) {

  .item {
    margin-bottom: 15px;
  }
}