

#header {
  display: inline-block;
  width: 375px;
  height: 100%;
  z-index: 10002;
}

#main {
  margin: 0px 0px 0px 375px;
  width: calc(100%-375px);
  z-index: 10000;
}

#footer {
  margin: 3em 0px 0px 375px;
  width: calc(100%-375px);
}

.container {
  margin: 2em auto;
  max-width: 100%;
}

section, header, footer {
  margin: 3em auto;
}

#headerToggle {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
}

@media screen and (min-width: 1321px) and (max-width: 1880px) {
  #header {
    width: 375px;
  }

  #main {
    margin: 0px 0px 0px 375px;
    width: calc(100%-375px);
  }

  #footer {
    margin: 3em 0px 0px 375px;
    width: calc(100%-375px);
  }
}

@media screen and (min-width: 739px) and (max-width: 1320px) {
  #header {
    width: 300px;
  }

  #main {
    margin: 0px 0px 0px 300px;
    width: calc(100%-300px);
  }

  #footer {
    margin: 3em 0px 0px 300px;
    width: calc(100%-300px);
  }
}

@media screen and (min-width: 481px) and (max-width: 738px) {

  #header {
    width: 250px;
  }

  #main {
    margin: 0px 0px 0px 250px;
    width: calc(100%-250px);
  }

  #footer {
    margin: 3em 0px 0px 250px;
    width: calc(100%-250px);
  }
}

@media screen and (max-width: 480px) {

  #header {
    width: 200px;
  }
  
  #footer {
    width: 100%;
    margin: 3em 0px 0px 0px;
  }

  #main {
    margin: 0px 0px 0px 0px;
    width: calc(100%-200px);
  }

}